.main {
  background-color: light-dark(#f8f9fa, #141517);
}
.navbar {
  background-color: light-dark(#ffffff, #1A1B1E);
  font-weight: 700;
  border-right: 1px solid light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05));
  box-shadow: light-dark(
    rgba(0, 0, 0, 0.03) 2px 0px 4px 0px,
    rgba(255, 255, 255, 0.03) 2px 0px 4px 0px
  );
  transition: all 0.2s ease;
}
.header {
  background-color: light-dark(#ffffff, #1A1B1E);
  border-bottom: 1px solid light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05));
  box-shadow: light-dark(
    rgba(0, 0, 0, 0.03) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.03) 0px 2px 4px 0px
  );
}
