.form {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
}

.formContent {
  background-color: light-dark(#ffffff, #1A1B1E);
  border-radius: var(--mantine-radius-sm);
  padding: var(--mantine-spacing-md);
}

.label {
  font-weight: 500;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
}

.input {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  border: 1px solid light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05));
  box-shadow: light-dark(
    rgba(0, 0, 0, 0.03) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.03) 0px 2px 4px 0px
  );
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--mantine-spacing-xs);
  margin-top: var(--mantine-spacing-md);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-top: 1px solid light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05));
} 