.Content {
  box-shadow: light-dark(
    rgba(0, 0, 0, 0.03) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.03) 0px 2px 4px 0px
  );
  background-color: light-dark(#ffffff, #1A1B1E);
  border: 1px solid light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05));
}

.value {
  font-size: rem(24px);
  font-weight: 700;
  line-height: 1;
}

.diff {
  line-height: 1;
  display: flex;
  align-items: center;
}

.icon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}
