.navbar {
  height: 100%;
  padding-top: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  margin: 0 var(--mantine-spacing-xs);
  transition: all 0.2s ease;
}

.link:hover {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-0));
}

.link span {
  margin-left: var(--mantine-spacing-sm);
}

.active {
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-0));
} 